*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#container{
    border:2px solid black;
    width:50%;
    position:absolute;
    left:calc(50% - 25%);
    display:flex;
    flex-wrap:wrap;
}
.items{
    padding: 10px;
    background-color: aqua;
    flex-grow:1;
    flex-shrink: 0;
}
.A{
    background-color: yellowgreen;
}
.B{
    background-color: aqua;
}
.C{
    background-color: hotpink;
}
.D{
    background-color: orangered;
}
.E{
    background-color: blueviolet;
    
}
.F{
    background-color: goldenrod;
}